/* styles.css */
body {
  font-family: Arial, sans-serif;
  background: rgb(12,31,105);
  background: linear-gradient(180deg, rgba(12,31,105,1) 13%, rgba(55,132,231,1) 49%, rgba(18,45,111,1) 100%);
}

.genero-container {
  margin: 20px;
  padding: 20px;
  background-color: transparent;
  border: 2px solid white;
  -webkit-box-shadow: 0px 0px 58px 4px rgba(158,134,158,0.5);
  -moz-box-shadow: 0px 0px 58px 4px rgba(158,134,158,0.5);
  box-shadow: 0px 0px 58px 4px rgba(158,134,158,0.5);
}

h2 {
  font-size: 1.5rem;
  font-family: "Faculty Glyphic";
  margin-bottom: 10px;
  color: white;
  padding-bottom: 20px;
}

h1 {
  cursor: pointer;
  font-size: 3rem;
  font-family: "Faculty Glyphic";
  color: white;
  padding-left: 20px;
  margin-top: 4vh;
  margin-bottom: 30px;
  width: 18rem;
  }

img{
  width: 200px;
  height: 300px;
  transition: 0.6s;
  -webkit-box-shadow: 0px 0px 43px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 43px 10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 43px 10px rgba(0,0,0,0.75);
}

img:hover{
  background-color: #3784e7;
  opacity: 80%;
  cursor: pointer;
  border: 3px solid rgba(255, 255, 255, 0.582);
  border-radius: 20px;
  margin-bottom: 10px;
  transition: 0.6s linear;
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 58px 4px rgba(158,134,158,1);
  -moz-box-shadow: 0px 0px 58px 4px rgba(158,134,158,1);
  box-shadow: 0px 0px 58px 4px rgba(158,134,158,1);
}

div#genero-28.genero{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

div#genero-53.genero{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

div#genero-12.genero{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

p{
  font-family: "Faculty Glyphic";
  font-size: 1.2rem;
  color: #f8f8f8;
  text-align: center;
  margin-top: 15px;
  transition: 0.6s;
}

p:hover{
  color: #3784e7;
  cursor: pointer;
  transition: 0.6s linear;
  transform: scale(1.1);
}
